<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- [if !mso]><! -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <![endif] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <style type="text/css">
      body {
        font-family: "Times New Roman", Times, serif;
      }
      .main-body {
        background-color: #252a2d !important;
      }
      .main-content {
        width: 50%;
        margin: auto;
      }
      .header-text {
        border-bottom: 2px solid #d31389;
        color: #fff;
        font-size: 18pt;
        padding-bottom: 15px;
        padding-top: 30px;
        text-align: center;
      }
      .hi-name {
        font-size: 14pt;
        font-weight: bold;
        color: #fff;
        margin-top: 30px;
      }
      .reset-desc {
        color: #d5d5d5;
        font-size: 12pt;
        padding-top: 10px;
        margin-bottom: 30px;
        text-align: justify;
      }
      .button--purple {
        background-color: #d31389;
        border-radius: 2px;
        color: #fff;
        width: 50%;
        height: 50px;
        text-align: center;
        text-decoration: none;
        font-size: 13pt;
        margin: auto;
        line-height: 50px;
      }

      .reject-desc {
        color: #d5d5d5;
        font-size: 12pt;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: justify;
        border-bottom: 1px solid #a1a1a1;
      }

      .trouble-desc {
        color: #d5d5d5;
        font-size: 10pt;
        padding-top: 50px;
        text-align: justify;
      }
      .link-url {
        color: #d5d5d5;
        font-size: 10pt;
        padding-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="main-body">
      <div class="header-text">ROTA E-Tourism Services</div>
      <div class="main-content">
        <div class="hi-name">Hi <%=FirstName%>,</div>
        <div class="reset-desc">
          You recently requested to reset your password for your
          <b>ROTA Service Account</b>. Click the button below to reset it.
          <strong
            >This password reset is only valid for the next 24 hours.</strong
          >
        </div>
        <a href="<%=reset_pass_url%>" style="text-decoration:none;">
          <div class="button--purple">Reset your password</div>
        </a>
        <div class="reject-desc">
          If you did not request a password reset, please ignore this email or
          reply to let us know. This password reset is only valid for the next
          24 hours. <br />
          <br />
          Thanks, <br />
          Bob [Our Robot], <b>ROTA Corporation Team</b>
        </div>
        <div class="trouble-desc">
          If you're having trouble clicking the password reset button, copy and
          paste the URL below into your web browser.
        </div>
        <div class="link-url"><%=reset_pass_url%></div>
      </div>
    </div>
  </body>
</html>
